.product-details-container{

    width:90%;

    max-width:1400px;

    margin:50px auto;

}

/* Main Card */

.product-details{

    display:flex;

    gap:60px;

    background:#fffaf3;

    border-radius:25px;

    padding:40px;

    box-shadow:0 10px 35px rgba(0,0,0,.08);

    margin-bottom:50px;

}

/* Left Image */

.product-image-section{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

}

.product-image-section img{

    width:100%;

    max-width:500px;

    border-radius:25px;

    object-fit:cover;

    transition:.4s;

    box-shadow:0 10px 25px rgba(0,0,0,.12);

}

.product-image-section img:hover{

    transform:scale(1.05);

}

/* Right Side */

.product-info{

    flex:1;

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.product-info h1{

    font-size:42px;

    color:#222;

    margin-bottom:10px;

}

.product-category{

    display:inline-block;

    width:max-content;

    background:#ffe4c4;

    color:#ff7a00;

    padding:8px 18px;

    border-radius:20px;

    font-weight:600;

    margin:20px 0;

}

.rating-text{

    margin:10px 0 25px;

    color:#666;

    font-weight:600;

}

.product-description{

    font-size:18px;

    color:#555;

    line-height:1.8;

    margin-bottom:30px;

}

.product-price{

    color:#ff7a00;

    font-size:38px;

    margin-bottom:30px;

}

.add-cart-btn{

    width:220px;

    padding:16px;

    border:none;

    border-radius:12px;

    background:#ff7a00;

    color:white;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

.add-cart-btn:hover{

    background:#e36d00;

    transform:translateY(-3px);

}

/* Reviews */

.review-section{

    margin-top:50px;

}

.review-section h2{

    font-size:34px;

    margin-bottom:30px;

    color:#333;

}

/* Responsive */

@media(max-width:1000px){

    .product-details{

        flex-direction:column;

        padding:25px;

    }

    .product-image-section img{

        max-width:100%;

    }

    .product-info h1{

        font-size:32px;

    }

}

@media(max-width:600px){

    .product-details-container{

        width:95%;

    }

    .product-price{

        font-size:30px;

    }

    .add-cart-btn{

        width:100%;

    }

}