.search-container{

    width:90%;

    margin:40px auto 20px;

    display:flex;

    justify-content:center;

}

.search-input{

    width:100%;

    max-width:650px;

    padding:15px 20px;

    border:none;

    border-radius:30px;

    font-size:17px;

    outline:none;

    box-shadow:0 5px 20px rgba(0,0,0,.1);

}

.search-input:focus{

    box-shadow:0 5px 25px rgba(255,122,0,.4);

}